/*Det er her det generelle der bliver vist (som ikke er en del af ens wrapper)*/
body {
}

/*Dette er her at selve at elementerne er i*/
#wrapper {
  margin: 0px auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width:960px;
}

/*Dette er selve navigationsbaren*/

#header {
  background-color: gray;
  overflow: hidden;
}

/*Dette er det specifikke element a-tagget*/

#header a {
  float: left;
  color: f2f2f2;
  text-align: center;
  text-decoration: none;
  padding: 10px 15.15px;
  font-size; 17px;
}

#header a:hover {
  background-color: red;
  color: black;
}

#header a.active {
  background-color: #4CAF50;
  color: white;
}

/*Dette er det specifikke element ul-tagget*/

#header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/*Dette er det specifikke element li-tagget*/

#header li {
  float: left;
}

#header .current {
  background-color: yellow;
}

/*Dette er logoet ved navigationsbaren*/

#logo {
  max-width: 70%;
  max-height: 45%;
}

/*Dette er alle de ting som sker under forsiden*/

#loaded {
  height: 50vh;
  background-color: yellow;
}

#flex-section {
  display: flex;
  flex-direction: row;
  margin: auto;
}

#flex-section h2 {
  margin-top: 25vh;
  margin-left: 25vh;
  text-align: center;
}

#forumtekst {
  height: 20vh;
  background-color: white;
}

#flex-section2 {
  display: flex;
  flex-direction: row;
  margin: auto;
}

#flex-section2 h2{
  margin-top: 5vh;
  margin-left: 22vh;
  text-align: center;
}

#calltoaction {
  height: 35vh;
  background-color: gray;
}

#flex-section3 {
  display: flex;
  flex-direction: row;
  margin: auto;
}

#flex-section3 h2 {
  margin-top: 10vh;
  margin-left: 60vh;
  text-align: center;
}

#flex-section3 ul {
  margin-top: 20vh;
  margin-left: -30vh;
}


#introvideo {
  height: 70vh;
  background-color: purple;
}

#flex-section4 {
  display: flex;
  flex-direction: row;
  margin: auto;
}

#flex-section4 h2 {
  margin-top: 10vh;
  margin-left: 60vh;
}

/*Det er omkring nydebat som findes under matematik, sprog og andrefag html*/

#flex-section5 {
  display: flex;
  flex-direction: row;
  margin: auto;
}

/*Det er inde for matematikdebat*/

#flex-section6 {
  display: flex;
  flex-direction: row;
  margin: auto;
}

#flex-section6 h2 {
  margin-top: 2vh;
  margin-left: 65vh;
}

/*Det er inde for andrefagdebat*/

#flex-section7 {
  display: flex;
  flex-direction: row;
  margin: auto;
}

/*Det er inde for sprogdebat*/

#flex-section8 {
  display: flex;
  flex-direction: row;
  margin: auto;
}

/*Dette er oprette en ny debat og søge efter debatter for alle fag*/

.nydebat {
  height: 70vh;
  background-color: #8888;
}

/*Dette er søgningen mellem de forskellige fag*/
/*De findes for selve filerne for matematik, andresfag & sprog*/

#matematikdebat {
  height: 50vh;
  background-color: #b49dc8;
}

.sprogdebat {
  height: 40vh;
  background-color: #b49dc8;
}

.andrefagdebat {
  height: 40vh;
  background-color: #b49dc8;
}

/*Dette er footer, FAQ og social links*/

.footer {
  padding: 3vh;
  height: 10vh;
  background-color: gray;
}

/*Sociale medier ved footeren*/

#socialemedier {
  margin-top: 2vh;
  margin-left: 100vh;
}

/*KUDOs logo ved footeren */

#kedufooter {
  margin-top: -7vh;
  margin-left: 135vh;
}

#kedufooterlogo {
  max-width: 50%;
  max-height: 50%;
}

/*FAQ ved footeren*/

#faq {
  margin-top: -5vh;
}

/* Nyhedsbrevet i footeren */

#nyhedsbrevet p {
  margin-top: 1vh;
  margin-left: -3vh
}

#nyhedsbrevet {
  margin-top: -3vh;
  margin-left: 55vh;
}

/*Dette er for alle de billeder af de sociale medier i footeren*/

.fa {
  background-color: #f1f1f2;
  padding: 20px;
  font-size: 30px;
  width: 20px;
  text-align: right;
  text-decoration: none;
  border-radius: 7px;
  margin: 38px;
  flex-direction: column;
}

.fa-facebook {
  background: #f1f1f2;
  color: black;
}

.fa-linkedin {
  background: #f1f1f2;
  color: black;
}

.fa-twitter {
    background: #f1f1f2;
    color: black;
}

.fa-instagram {
    background: #f1f1f2;
    color: black;
}

/*Styling af div. tagget debatvisning, som viser ens blog*/
#debatvisning {
}
