/*Det er her det generelle der bliver vist (som ikke er en del af ens wrapper)*/
body {
  margin: auto;
}

/*Dette er her at selve at elementerne er i*/
.wrapper {
  margin: 0px auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 960px;
}

/* flex standarter */

.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.flex.row {
  flex-direction: row;
}



/*Dette er selve navigationsbaren*/

#header {
  background-color: #f1f1f2;
  overflow: hidden;
}

/*Dette er det specifikke element a-tagget*/

#header a {
  color: f2f2f2;
  text-decoration: none;
  padding: 10px 15.15px;
  font-size; 17px;
}

#header a:hover {

  color: black;
}

#header a.active {
  background-color: #4CAF50;
  color: white;
}

/*Dette er det specifikke element ul-tagget*/

#header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/*Dette er det specifikke element li-tagget*/

#header li {
  float: left;
}

#header .current {
  background-color: yellow;
}

.headertext {
  text-align: center,center;
}

#trappeet {
  margin-left: 250px;
  color: #044c7f;
}

#trappeet h2 {
  margin-top: 0px;
  padding-top: 20px;
  font-family: lato;
}

#trappeto h2 {
  margin-left: 400px;
  color: #044c7f;
  font-family: lato;

}

#trappetre h2 {
  margin-left: 530px;
  color: #044c7f;
  font-family: lato;

}

/*Dette er selve dropdown menuen til profilen i vores navigationsmenu */

/*Dette er logoet ved navigationsbaren*/
#logo {
  width: 130%;
  height: 60%;
  padding-top: 5px;
}
.navbar {
  display: flex;
  justify-content: space-around;
}

.navflexet {
  display: flex;

  flex-grow: 1;
}

.navflexto {
  display: flex;
  max-width: 30%;
  max-height: 20%;
  flex-grow: 1;
}

.navflexto button a {
  text-align: center;
}

.navflextre {
  display: flex;
  flex-grow: 2;

}

.navflexfire {
  display: flex;
  justify-content:space-between;
  flex-grow: 1;

}

input {
  font-family: 'lato',;
  font-size: 12px;
  text-align: center;
  border-radius: 16px;

}

#blog {
  width: 20%;

}
#besked {
  width: 20%;
}

#notifikation {
  width: 20%;
}

#tagtile {
  width: 20%;
}
/*Dette er alle de ting som sker under forsiden*/

#loaded {
    height: 50vh;
    background-color: #f1f1f2;
    background-image: url("../img/imgone.jpg");
    background-size: cover;
    height: 400px;
    content: center, center;
}

#headermatematik {
    height: 50vh;
    background-color: #f1f1f2;
    background-image: url("../img/imgtwo.jpg");
    background-size: cover;
    height: 400px;
    content: center, center;
}

#headersprog {
  height: 50vh;
  background-color: #f1f1f2;
  background-image: url("../img/imgtre.jpg");
  background-size: cover;
  height: 400px;
  content: center, center;
}
#headerandrefag {
  height: 50vh;
  background-color: #f1f1f2;
  background-image: url("../img/imgfire.jpg");
  background-size: cover;
  height: 400px;
  content: center, center;
}

#flex-section {
  display: flex;
  flex-direction: row;
  margin: auto;
}

#flex-section h2 {
  width: 100%;
  text-align: center;
  padding-top: 250px;
  font-family: lato;
}

#forumtekst {
  height: 2vh;
  background-color: white;
}

#flex-section2 {
  display: flex;
  flex-direction: row;
  margin: auto;
}

#flex-section2 h4{
  width: 100%;
  text-align: center;
  color: #044c7f;
  font-family: lato;
}

#calltoaction {
  height: 22vh;
  background-color: #f1f1f2;
}

#flex-section3 {
  margin: auto;
  color: #044c7f;
}

#flex-section3 h3 {
  margin-top: 10vh;
  text-align: center;
  padding-top: 9px;
  font-family: lato;
}

.buttons button {
  width: 160px;
  height: 40px;
  background: #00a19b;
  border-radius: 16px;
  color: white;
  margin: auto;
  display: block;
  text-decoration: none;
}
.buttons button a {
  color: white;
  text-decoration: none;
  font-family: lato;
  font-size: 15px;
}

#tilmeld {
    background: #00a19b;
    color: white;
    border-radius: 16px;
    font-family: lato;
}

#video {
  margin-top: 20vh;
  margin-bottom: 20vh;
  float: left;
}

#flex-section4 {
  display: flex;
  flex-direction: row;
  margin: auto;
  text-align: center;
  float: center;
  width: 100%;
}

#flex-section4 h3 {
  color: #044c7f;
  text-align: center;
  width: 100%;
  font-family: lato;
}

#video-section {
  display: flex;
  flex-direction: row;
  margin: auto;
}

#video-section #video {
  display: block;
  margin: 0 auto;
  margin-bottom:5%
}

/*Det er omkring nydebat som findes under matematik, sprog og andrefag html*/

#flex-section5 {
  display: flex;
  flex-direction: row;
  float: right;
}

#opgavetitel {
  width: 300px;
  margin: 5px;
  text-align: left;
  background-color: #f1f1f2;

}
#emneord {
  width: 300px;
  margin: 5px;
  text-align: left;
  background-color: #f1f1f2;


}
#lektionslængde {
  width: 300px;
  margin: 5px;
  text-align: left;
  background-color: #f1f1f2;


}
#beskrivelse {
  height: 100px;
  width: 300px;
  margin: 5px;
  text-align: left;
  background-color: #f1f1f2;



}
#klassetrin {

}

#uploadfile {

}
#detteharandreikke {
  background: #00a19b;
  width: 100px;
  border-radius: 16px;
  color: white;

}


/*Det er inde for matematikdebat*/

#flex-section6 {
  display: flex;
  justify-content: space-around;
  margin: auto;

}

#klassetrin {
  font-family: lato;
}

#flex-section6 h2 {
  width: 100%;
  text-align: center;
  color: #044c7f;

}

.bokset {
  height: 280px;
  width: 210px;
  margin-top: 30px;
  background-color: #f1f1f2;
}
.bokset h4,
.bokset h6,
.bokset p {
  font-family: lato;
  text-align: center;
  margin: 10px;
  color: #044c7f;

}
.bokset h4 {
  margin-top: 20px;
}

.semere {
  margin-top: 48px;
}

.semere button {
  width: 130px;
  margin-top: 90px;
  padding-top: auto;
  background: #00a19b;
  border-radius: 16px;
  color: white;
  margin: auto;
  display: block;
  text-decoration: none;

}
.semere button a {
  color: white;
  text-decoration: none;
  font-family: lato;
  font-size: 13px;
   }

/*Det er inde for andrefagdebat*/

#flex-section7 {
  display: flex;
  flex-direction: row;
  margin: auto;

}

/*Det er inde for sprogdebat*/

#flex-section8 {
  display: flex;
  flex-direction: row;
  margin: auto;
}

/*Dette er oprette en ny debat og søge efter debatter for alle fag*/

.nydebat {
  height: 33vh;
  width: 480px;
  float: right;
  margin-right: 150px;
  background-color: white;
}

/*Dette er søgningen mellem de forskellige fag*/
/*De findes for selve filerne for matematik, andresfag & sprog*/

#matematikdebat {

  background-color: white;
  text-align: center;
  color: #044c7f;
  font-family: lato;


}

.sprogdebat {
  height: 40vh;
  background-color: #b49dc8;
}

.andrefagdebat {
  height: 40vh;
  background-color: #b49dc8;
}
.overskriftkubo {
  text-align: center;
  color: #044c7f;
  background-color: #f1f1f2;
  height: 70px;
  font-family: lato;

}

.overskriftkubo h2 {
  padding-top: 20px;
}

.flerematematik {
  text-align: center;
  color: #044c7f;
  font-family: lato;

}


.materialekubo {
  justify-content: space-around;
}

#flex-section9 {
  background-color: #F6F7F9;
  display: flex;
  flex-wrap: wrap;
  height: 662px;
  justify-content: space-between;
  margin: 70px 40px;
}

ul {
  background-color: white;
  flex: 1;
  font-family: 'lato', sans-serif;
  font-size: 12px;
  line-height: 18px;
  list-style-type: none;
  margin: 40px 40px 490px 40px;
  padding: 10px 100px 10px 10px;
}

h1 {
  color: #226494;
  font-family: 'lato', sans-serif;
  font-size: 35px;
  flex: 3;
  margin: 30px;
  position: relative;
  left: 100px;
}

#save {
  flex: 3;
  margin: 30px;
  width: 40px;
}

#math {
  flex: 3;
  margin-top: 200px;
  width: 300px;
  position: relative;
  left: 58px;
}

/*Dette er i selve matematikopslags.html dokumentet, når man laver en kommentar*/
#flex-section10 {
  background-color: gray;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.sprogdebat {
  height: 60vh;
  background-color: #b49dc8;
}



/*Dette er footer, FAQ og social links*/

.footer {
  padding: 3vh;
  height: 10vh;
  background-color: #f1f1f2;
}

/*Sociale medier ved footeren*/

#socialemedier {
  margin-top: 2vh;
  margin-left: 100vh;
}

/*KUDOs logo ved footeren */

#kedufooter {
  margin-top: -6vh;
  margin-left: 147vh;
  padding-left: 65px;
}

#kedufooterlogo {
  max-width: 60%;
  max-height: 60%;
}

/*FAQ ved footeren*/

#faq {
  margin-top: -5vh;
  font-size: 10px;
  color: #044c7f;
  font-family: lato;
}

/* Nyhedsbrevet i footeren */

#nyhedsbrevet p {
  margin-top: 1vh;
  margin-left: -3vh
  color: #044c7f;
  font-family: lato;
}

#nyhedsbrevet {
  margin-top: -3vh;
  color: #044c7f;
  text-align: center;
}

#tilmeld {
  color: white;
}

#flex-section {
    color: #044C7F
}

/*Dette er for alle de billeder af de sociale medier i footeren*/

.fa {
  flex-direction: row-reverse;
  background-color: #f1f1f2;
  padding: 15px;
  font-size: 30px;
  width: 15px;
  text-align: center;
  text-decoration: none;
}

#fa {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.fa-facebok {
  background: #f1f1f2;
  color: black;
  flex-direction: row-reverse;
}

.fa-linkedin {
  background: #f1f1f2;
  color: black;
  flex-direction: row-reverse;
}

.fa-twitter {
    background: #f1f1f2;
    color: black;
    flex-direction: row-reverse;
}

.fa-instagram {
    background: #f1f1f2;
    color: black;
    flex-direction: row-reverse;
}

#kubo {
  color: #044c7f;
  font-size: 12px;
}
#kuboinformation {
  font-family: lato;
}

/*Styling af div. tagget debatvisning, som viser ens blog*/
#debatvisning {
  justify-content: space-around;
  min-height: 662px;
}

#debatvisning div {
height: 280px;
width: 310px;
margin-top: 30px;
background-color: #f1f1f2;
}

#debatvisning div h2 {
  font-size: 20px;
  color: blue;
  text-align: center;
}


#debatvisning div p {
  font-size: 18px;
  color: yellow;
  text-align: center;
}

/*Den skal sættes til at være over hinanden, i stedet for ved siden af hinanden*/
#debatvisning div span {
  font-size: 18px;
  color: purple;
  margin-left: 10px;
}

#debatvisning div button {

}
