/*Det er her det generelle der bliver vist (som ikke er en del af ens wrapper)*/
body {
}

/*Dette er her at selve at elementerne er i*/
.wrapper {
  margin: 0px auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 960px;
}

/* flex standarter */

.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.flex.row {
  flex-direction: row;
}



/*Dette er selve navigationsbaren*/

#header {
  background-color: gray;
  overflow: hidden;
}

/*Dette er det specifikke element a-tagget*/

#header a {
  float: left;
  color: f2f2f2;
  text-align: center;
  text-decoration: none;
  padding: 10px 15.15px;
  font-size; 17px;
}

#header a:hover {
  background-color: red;
  color: black;
}

#header a.active {
  background-color: #4CAF50;
  color: white;
}

/*Dette er det specifikke element ul-tagget*/

#header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/*Dette er det specifikke element li-tagget*/

#header li {
  float: left;
}

#header .current {
  background-color: yellow;
}

.headertext {
  text-align: center,center;
}

#trappeet {
  margin-left: 250px;
  color: #044c7f;
}

#trappeto {
  margin-left: 400px;
  color: #044c7f;
}

#trappetre {
  margin-left: 530px;
  color: #044c7f;
}

/*Dette er selve dropdown menuen til profilen i vores navigationsmenu */

/*Dette er logoet ved navigationsbaren*/
#logo {
  max-width: 70%;
  max-height: 80%;
}

.navflexto {
text-align: center;
}

#blog {
  max-width: 8%

}
#besked {
  max-width: 8%
}

#notifikation {
  max-width: 8%
}

#tagtile {
  max-width: 8%
}
/*Dette er alle de ting som sker under forsiden*/

#loaded {
    height: 50vh;
    background-color: yellow;
    background-image: url("../img/imgone.jpg");
    background-size: cover;
    height: 400px;
    content: center, center;
}

#headermatematik {
    height: 50vh;
    background-color: yellow;
    background-image: url("../img/imgtwo.jpg");
    background-size: cover;
    height: 400px;
    content: center, center;
}

#flex-section {
  display: flex;
  flex-direction: row;
  margin: auto;
}

#flex-section h2 {
  width: 100%;
  text-align: center;
  padding-top: 250px;
}

#forumtekst {
  height: 2vh;
  background-color: white;
}

#flex-section2 {
  display: flex;
  flex-direction: row;
  margin: auto;
}

#flex-section2 h4{
  width: 100%;
  text-align: center;
  color: #044c7f;
}

#calltoaction {
  height: 22vh;
  background-color: #f1f1f2;
}

#flex-section3 {
  margin: auto;
  color: #044c7f;
}

#flex-section3 h3 {
  margin-top: 10vh;
  text-align: center;
  padding-top: 9px;
}

.buttons button {
  width: 160px;
  height: 40px;
  background: #00a19b;
  border-radius: 16px;
  color: white;
  margin: auto;
  display: block;
}

#tilmeld {
    background: #00a19b;
    color: white;
    border-radius: 16px;
}

#video {
  margin-top: 20vh;
  margin-bottom: 20vh;
  float: left;
}

#flex-section4 {
  display: flex;
  flex-direction: row;
  margin: auto;
  text-align: center;
  float: center;
  width: 100%;
}

#flex-section4 h3 {
  color: #044c7f;
  text-align: center;
  width: 100%;
}

#video-section {
  display: flex;
  flex-direction: row;
  margin: auto;
}

#video-section #video {
  display: block;
  margin: 0 auto;
  margin-bottom:5%
}

/*Det er omkring nydebat som findes under matematik, sprog og andrefag html*/

#flex-section5 {
  display: flex;
  flex-direction: row;
  float: right;
}

/*Det er inde for matematikdebat*/

#flex-section6 {
  display: flex;
  flex-direction: row;
  margin: auto;

}

#flex-section6 h2 {
    width: 100%;
  text-align: center;
  color: #044c7f;

}

/*Det er inde for andrefagdebat*/

#flex-section7 {
  display: flex;
  flex-direction: row;
  margin: auto;

}

/*Det er inde for sprogdebat*/

#flex-section8 {
  display: flex;
  flex-direction: row;
  margin: auto;
}

/*Dette er oprette en ny debat og søge efter debatter for alle fag*/

.nydebat {
  height: 30vh;
  width: 400px;
  float: right;
  margin-right: 150px;
  background-color: white;
}

/*Dette er søgningen mellem de forskellige fag*/
/*De findes for selve filerne for matematik, andresfag & sprog*/

#matematikdebat {
  height: 30vh;
  background-color: white;
}

.sprogdebat {
  height: 40vh;
  background-color: #b49dc8;
}

.andrefagdebat {
  height: 40vh;
  background-color: #b49dc8;
}

/*Dette er i selve matematikopslags.html dokumentet, når man laver en kommentar*/
#flex-section10 {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.sprogdebat {
  height: 60vh;
  background-color: #b49dc8;
}



/*Dette er footer, FAQ og social links*/

.footer {
  padding: 3vh;
  height: 10vh;
  background-color: #f1f1f2;
}

/*Sociale medier ved footeren*/

#socialemedier {
  margin-top: 2vh;
  margin-left: 100vh;
}

/*KUDOs logo ved footeren */

#kedufooter {
  margin-top: -6vh;
  margin-left: 147vh;
  padding-left: 65px;
}

#kedufooterlogo {
  max-width: 60%;
  max-height: 60%;
}

/*FAQ ved footeren*/

#faq {
  margin-top: -5vh;
  font-size: 10px;
  color: #044c7f;
}

/* Nyhedsbrevet i footeren */

#nyhedsbrevet p {
  margin-top: 1vh;
  margin-left: -3vh
  color: #044c7f;
}

#nyhedsbrevet {
  margin-top: -3vh;
  color: #044c7f;
  text-align: center;
}

#tilmeld {
  color: white;
}

#flex-section {
    color: #044C7F
}

/*Dette er for alle de billeder af de sociale medier i footeren*/

.fa {
  flex-direction: row-reverse;
  background-color: #f1f1f2;
  padding: 15px;
  font-size: 30px;
  width: 15px;
  text-align: center;
  text-decoration: none;
}

#fa {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.fa-facebook {
  background: #f1f1f2;
  color: black;
  flex-direction: row-reverse;
}

.fa-linkedin {
  background: #f1f1f2;
  color: black;
  flex-direction: row-reverse;
}

.fa-twitter {
    background: #f1f1f2;
    color: black;
    flex-direction: row-reverse;
}

.fa-instagram {
    background: #f1f1f2;
    color: black;
    flex-direction: row-reverse;
}

#kubo {
  color: #044c7f;
  font-size: 12px;
}

/*Styling af div. tagget debatvisning, som viser ens blog*/
#debatvisning {
}
